# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse / IntelliJ
.classpath
.project
.settings/
*.iml
.idea/
*.iws
*.ipr

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Temporary files
*.tmp
*.cache
